body {
  margin: 0;
  background: #ecf0f1;
  
}

.sidebar {
  flex-wrap: wrap;
  height: 100vh;
  width: 15vw;
  background: #34495e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  color: white;
  font-size: 20px;
  padding: 10px;
  
}

.section {
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 10px;
}

.center-container {
   position: fixed;
  top: 40vh;
  left: 40vw;
}

.center {
  display: flex;
  height: 300px;
  align-items: center;

 
}

.box1 {
  background: #e51400;
  font-size: 90px;
  
}
.box2 {
  background: #fa6800;
  font-size: 60px;
}
.box2 {
  background:  #f0a30a;
  font-size: 60px;
}
.box3 {
  background: #e3c800;
  font-size: 55px;
}
.box4 {
  background: #a4c400;
  font-size: 90px;
}
.box5 {
  font-size: 55px;
  background: #60a917;
}
.box6 {
  background: #00aba9;
  font-size: 42px;
}
.box7 {
  background: #1ba1e2;
  font-size: 55px;
}

.box {
  width: 90px;
  text-align: center;
  
  color: white;
  
}